<link rel="stylesheet" href="~/styles/panel/panel.css">
<script src="~/js/panel.js"></script>

<li class="content__list-chapter"><a href="#">Таблица содержимого</a></li>
<li class="content__list-chapter">
    <a href="#" onclick="openbox('box1')">Просмотр</a>
    <div class="chapter__wrapper" id="box1" style="display: none;">
        <ul class="chapter__list">
            <li class="chapter__element"><a href="#">Секции</a></li>
            <li class="chapter__element"><a href="#">Подсекции</a></li>
            <li class="chapter__element"><a href="#">Раздел</a></li>
            <li class="chapter__element"><a href="#">Подраздел</a></li>
            <li class="chapter__element"><a href="#">Пост</a></li>
        </ul>
    </div>
</li>
<li class="content__list-chapter">
    <a href="#" onclick="openbox('box2')">Добавить</a>
    <div class="chapter__wrapper" id="box2" style="display: none;">
        <ul class="chapter__list">
            <li class="chapter__element"><a href="#">Секцию</a></li>
            <li class="chapter__element"><a href="#">Подсекцию</a></li>
            <li class="chapter__element"><a href="#">Раздел</a></li>
            <li class="chapter__element"><a href="#">Подраздел</a></li>
            <li class="chapter__element"><a href="#">Пост</a></li>
        </ul>
    </div>
</li>
<li class="content__list-chapter">
    <a href="#" onclick="openbox('box3')">Удалить</a>
    <div class="chapter__wrapper" id="box3" style="display: none;">
        <ul class="chapter__list">
            <li class="chapter__element"><a href="#">Секцию</a></li>
            <li class="chapter__element"><a href="#">Подсекцию</a></li>
            <li class="chapter__element"><a href="#">Раздел</a></li>
            <li class="chapter__element"><a href="#">Подраздел</a></li>
            <li class="chapter__element"><a href="#">Пост</a></li>
        </ul>
    </div>
</li>