<link rel="stylesheet" href="~/css/panel.min.css">
<script src="~/js/panel.js"></script>

<li class="content__list-chapter"><a>Таблица содержимого</a></li>
<li class="content__list-chapter">
    <a onclick="openbox('box1')">Просмотр</a>
    <div class="chapter__wrapper" id="box1" style="display: none;">
        <ul class="chapter__list">
            <li><a>Секций</a></li>
            <li><a>Подсекций</a></li>
            <li><a>Разделов</a></li>
            <li><a>Подразделов</a></li>
            <li><a>Постов</a></li>
        </ul>
    </div>
</li>
<li class="content__list-chapter">
    <a onclick="openbox('box2')">Добавить</a>
    <div class="chapter__wrapper" id="box2" style="display: none;">
        <ul class="chapter__list">
            <li><a>Секцию</a></li>
            <li><a>Подсекцию</a></li>
            <li><a>Раздел</a></li>
            <li><a>Подраздел</a></li>
            <li><a>Пост</a></li>
        </ul>
    </div>
</li>
<li class="content__list-chapter">
    <a onclick="openbox('box3')">Удалить</a>
    <div class="chapter__wrapper" id="box3" style="display: none;">
        <ul class="chapter__list">
            <li><a>Секцию</a></li>
            <li><a>Подсекцию</a></li>
            <li><a>Раздел</a></li>
            <li><a>Подраздел</a></li>
            <li><a>Пост</a></li>
        </ul>
    </div>
</li>