@model MainApp.Models.GeneralPart
@{
    ViewBag.Title = "Control";
    Layout = "/Views/Shared/MainLayout.cshtml";
}

<div class="content__wrapper">
    <div class="content__list">

    </div>
    <div class="content__main">

    </div>
</div>