@model MainApp.Models.GeneralPart
@{
    ViewBag.Title = "Control";
    Layout = "/Views/Shared/MainLayout.cshtml";
}

<div class="content__wrapper">
    <div class="content__list">
        <ul>
            
        </ul>
    </div>
    <div class="content__main">
        
    </div>
</div>