@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.content__wrapper {
  display: inline-flex;
  margin: 30px 0 0 0;
  min-height: calc(100vh - 284px);
}

.content__main {
  display: flex;
  align-items: center;
  min-width: calc(100vw - 393.53px);
  flex-direction: column;
}

.content__main a {
  color: black;
  text-decoration: none;
}

.content__main a:hover {
  color: rgb(37, 37, 37);
}

.main__title {
  margin-bottom: 50px;
  font-family: "Ubuntu", sans-serif;
}

.main__table {
  display: grid;
  white-space: nowrap;
}

.main__table-hat {
  border-top: 2px solid #333333;
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(190, 190, 190);
}

.main__table-row {
  display: grid;
  border-left: 2px solid #333333;
  border-bottom: 2px solid #333333;
  grid-template-columns: repeat(2, auto);
}

.main__table-header {
  padding: 0 50px;
  border-right: 2px solid #333333;
}

.main__table-body {
  font-family: "Montserrat", sans-serif;
}

.main__table-data {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-right: 2px solid #333333;
}

.main__table-data a {
  font-weight: 900;
}

#empty-table {
  grid-template-columns: repeat(1, auto);
}