@model List<MainApp.Models.GeneralPart>

@{
    ViewBag.Title = "Control";
    Layout = "/Views/Shared/MainLayout.cshtml";
}

<div class="content__wrapper">
    @await Html.PartialAsync("~/Views/Page/CrewPanel.cshtml")
    <div class="content__main">
        
    </div>
</div>

