@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@mixin img-widht($size){
    width: $size;
}

.content {
    display: flex;
    margin: 0;
    padding: 0 20% 0 20%;
    align-items: center;
    justify-content: center;
    color: rgb(36, 36, 36);
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    font-size: large;

    &__head{
        display: flex;
        margin-top: 15px;
        color: rgb(66, 66, 66);
        font-size: xx-large;
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
    }
    &__info{
        display: flex;
        margin: 30px 0 30px 0;
        align-items: center;
        justify-content: center;
        text-align: left;
        line-height: 30px;
        font-size: larger;

        p{
            margin: 0;
            padding-left: 40px;
        }
        img{
            @include img-widht(200px);
        }
    }
    &__study-new{
        display: flex;
        margin: 30px 0 30px 0;
        align-items: center;
        justify-content: center;
        text-align: left;
        line-height: 30px;
        font-size: larger;

        img{
            @include img-widht(500px);
        }
        p{
            margin: 0;
            padding-right: 40px;
        }
        a{
            font-weight: bolder;
            text-decoration: none;
            color: rgb(36, 36, 36);
        }
        a:hover{
            color: rgb(177, 0, 0);
        }
    }
    &__have-knowledges{
        display: flex;
        margin: 30px 0 70px 0;
        align-items: center;
        justify-content: center;
        text-align: left;
        line-height: 30px;
        font-size: larger;

        p{
            margin: 0;
            padding-left: 40px;
        }
        a{
            font-weight: bolder;
            text-decoration: none;
            color: rgb(36, 36, 36);
        }
        a:hover {
            color: rgb(177, 0, 0);
        }
    }
    &__join-us{
        display: flex;
        flex-direction: column;
        margin: 30px 0 90px 0;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 30px;
        font-size: larger;

        img{
            @include img-widht(200px);
        }
        p{
            margin: 0;
            padding-top: 40px;
        }
        a{
            font-weight: bolder;
            text-decoration: none;
            color: rgb(36, 36, 36);
        }
        a:hover{
            color: rgb(177, 0, 0);
        }
    }
}