@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: hsl(210,8%,95%);
}
.content {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

    &__body{
        display: flex;
        width: 40vh;
        flex-direction: column;
        flex-wrap: nowrap;
        font-family: 'Montserrat', sans-serif;       
    }
    &__brand{
        display: flex;
        justify-content: center;
    }
    &-brand__logo{
        height: 60px;   
        text-decoration: transparent;
    }

    &__head{
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        font-family: 'Ubuntu', sans-serif;  
        
        h1{
            margin: 10px 0 30px 0 ;  
        }
    }

    &__main{
        display: flex;   
        border-radius: 5px;
        padding: 30px;
        justify-content: center;
        flex-direction: column;
        box-shadow: 0 10px 24px hsla(0,0%,0%,0.05), 0 20px 48px 
        hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.1);;
        background-color: white;        

        .form{
            &__error{ 
                margin-bottom: 15px;
                font-weight: 600;
                color: #c00300;
            }
            &__input{
                margin-bottom: 20px;

                input{
                    width: 100%;
                    box-sizing: border-box;
                    margin: 5px 0 5px 0;
                    padding: 0.6em 0.7em;
                    border-radius: 5px;
                    border-style: solid;
                    border-width: 1px;

                    &:hover {
                        border-color: rgb(65, 65, 65);
                        box-shadow: 0 10px 24px hsla(0,0%,0%,0.05), 0 20px 48px 
                        hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.1);;
                    }
                }
            }
            &__button{
                box-sizing: border-box;
                margin-top: 30px;

                button {
                    width: 100%;
                    padding: 0.8em;
                    background-color: rgb(87, 87, 87);
                    color: rgb(236, 236, 236);
                    border-radius: 5px;
                    border: 0;
                    cursor: pointer;

                    &:hover{
                        background-color: rgb(43, 43, 43);
                        color: rgb(255, 255, 255);
                    }
                }
            }
        }
    }

    .field-validation-error {
        color: #c00300;
    }
    input{
        .valid {
            border: 1px solid #0ea800;
        }
        .valid:hover {
            border: 1px solid #0ea800;
        }
        .valid:focus {
            border: 2px solid #0ea800;
            outline: #0ea800;
        }
        .input-validation-error {
            border: 1px solid #c00300;
        }
        .input-validation-error:hover {
            border: 1px solid #c00300;
        }
        .input-validation-error:focus {
            border: 2px solid #c00300;
            outline: #c00300;
        }
    }
}

